<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<!--	보조 환경설정파일 등록부분  -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-context.xml
			/WEB-INF/spring/security-context.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<!--	필터사용 등록부분 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
    	<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  	</listener>
	
	<!--  파일 업로드 시 한글이 꺠지지 않도록 설정-->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--  PUT,PATCH등의 함수를 사용할 수 있게 해주는 부분-->
	<filter>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  	</filter>
  	<filter-mapping>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <url-pattern>/*</url-pattern>
  	</filter-mapping>
	

	<!-- Processes application requests -->
	<!--	디스패치 서블릿 등록부분 -->
	<servlet>
		<!--	아래에서 맵핑할 디스패치 서블릿의 이름을 지정한다.  -->
		<servlet-name>appServlet</servlet-name>
		<!--	사용할 디스패치 서블릿의 클래스를 지정한다.  -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!--	해당 디스패치 서블릿의 환경설정을 하기 위해서 필요한 환경설정파일을 지정하는 부분이다.   -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>	
		<!--	동일한 디스패치 서블릿이 여러개 존재할 때 우선 사용하는 순서를 지정하는 부분이다.  -->
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<!--	디스패치 서블릿의 URL맵핑을 하는 부분  -->	
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<!--	지정한 디스패치 서블릿이 어떤 URL패턴이 왔을때 실행될지를 지정하는 부분이다.  -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
</web-app>
